<div class="row justify-content-center">
    <div class="col-md-10">
        <h2 class="mb-4">Moderación de reportes</h2>
        <div id="lista-reportes"></div>
    </div>
</div>

<script src="/js/moderacionReportes.js" data-token="{{token}}"></script>